Source: libhermes2d
Section: science
Priority: extra
Maintainer: Pavel Karban <pkarban@gmail.com>
Uploaders: Ondrej Certik <ondrej@certik.cz>
Build-Depends: debhelper (>= 7), libsuitesparse-dev (>= 3.2.0), libjudy-dev (>= 1.0.5), freeglut3-dev (>= 2.4.0)
Standards-Version: 3.8.0
Homepage: http://hpfem.math.unr.edu/projects/hermes2d-new/
XS-DM-Upload-Allowed: yes

Package: libhermes2d
Architecture: any
Depends: ${shlibs:Depends}, libsuitesparse-3.2.0 (>= 3.2.0), libglu1-mesa (>= 3.4.0), libjudydebian1 (>= 1.0.5), freeglut3 (>= 2.4.0)
Description: hp-FEM multiphysics solver
 Hermes2d is a C++ library for rapid prototyping of space and space-time
 adaptive hp-FEM solvers. Novel PDE-independent adaptivity algorithms allow the
 user to solve a large variety of PDE problems ranging from stationary linear
 equations to complex time-dependent nonlinear multiphysics PDE systems.
 .
 The library has a clean design, highly modular structure, and it does not
 require the user to be expert in object-oriented programming, finite element
 methods, or in the theory of partial differential equations.
